
body {
  font-family: "Roboto", "Lato", helvetica, arial, sans-serif;
  height: 300vh;
}

h1 {
  position: absolute;
  width: 100%;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 10vw;
  color: black;
}

h2 {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
  padding-left: 10px;
  top: 10%;
  font-size: 20px;
  color: #111;
}

p {
  font-family: "Lato";
  float: right;
  padding-top: 80vh;
  padding-left: 5%;
  color: red;
}

hr {
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 0px;
  border: 1px dotted grey;
}

#firstpage {
  position: relative;
  height: 100vh;
}

#secondpage {
  position: relative;
  margin: auto;
  height: 100vh;

}

a {
  color: black;
  text-decoration: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 20px 10px;
  max-width: 500px;
}

.image-grid {
  position: absolute;
  top: 75px;
}


#about {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

#contact {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

footer {
  background: rgba(192,192,192,0.15);
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 10%;
  padding-right: 10%;

}
